n8n/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "beb6afaf-f369-4724-82e0-798a6bcaa3f1",
      "name": "Webhook",
      "webhookId": "e368866d-c91e-4ffe-b954-f8351cc43dea"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "Suporte Técnico",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ecfcd3ce-4a30-4dc8-ae58-4e083aa1b378"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bce4a2ff-d732-4236-97cb-427dea96b1b5",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "Financeiro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "05bb6ded-59a3-422a-a659-b08108e12e33",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "Vendas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        192,
        16
      ],
      "id": "d248689e-419c-4cdb-9d91-e9fcc2005d5c",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"response\": \"Vou te encaminhar para o suporte técnico. Pode descrever o problema?\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        -96
      ],
      "id": "e7c19f23-add2-481e-9f03-c5745914e275",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"response\": \"Para assuntos financeiros, como posso te ajudar? Boleto, pagamento ou plano?\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        16
      ],
      "id": "da2d6427-8e9d-4a9a-baf2-5620c39e084b",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"response\": \"Temos planos a partir de R$79/mês. Qual região você está para verificar disponibilidade?\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        128
      ],
      "id": "066c5266-c4fe-46e5-ba3e-e913a12ad37b",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "natandaluz.app.n8n.cloud",
            "user-agent": "axios/1.7.9",
            "content-length": "30",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "98.84.156.240",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9dae6343cd559c48-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "98.84.156.240, 172.70.175.86",
            "x-forwarded-host": "natandaluz.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-118-755d9584b9-9vqkw",
            "x-is-trusted": "yes",
            "x-real-ip": "98.84.156.240"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "Suporte Técnico"
          },
          "webhookUrl": "https://natandaluz.app.n8n.cloud/webhook/chatbot",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7bc548e2-15d0-498c-a308-98643740502a",
  "meta": {
    "instanceId": "9508ac34aca35506783dcc1d4c687e3272dcf80c9030310539cd33119d8c5ad0"
  },
  "id": "F4n4NsT6FcDuj2Dd",
  "tags": []
}